
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  min-width: 1300px;
}

.footer,
.container,
.head_logo,
.head_nav,
.main {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.header {
  position: relative;
  height: 250px;
  z-index: 99;
}

.head_logo {
  z-index: 70;
  height: 100%;
  background: linear-gradient(180deg, #53E88E 0%, rgba(141, 228, 176, 0) 100%), #23C1C1;
  opacity: 0.7;
  box-shadow: inset 0px 4px 120px rgba(147, 234, 223, 0.49);
  filter: blur(15px);

}

.head_nav {
  z-index: 80;
  height: 100%;
  background: #45B4D7;
  opacity: 0.5;
  filter: blur(15px);
}


.log {
  height: 217px;

}

.input {
  margin-top: 9%;
  margin-bottom: 10%;
  padding-left: 5%;
  text-align: center;
  display: flex;
}

.input_search {
  background: #E2F2E2;
  border-radius: 6px;
  height: 47px;
  width: 420px;
  font-style: italic;
  color: #B6C0A5;
  border-top-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom-width: 0;
}

.input_botton {
  background: #AAD9E0;
  border-radius: 6px;
  outline: none;
  width: 81px;
  height: 47px;
}

.basket_regist {
  padding-left: 4%;
  height: 63px;
  margin-top: 8%;
  margin-bottom: 10%;
  display: flex;
}

.basket_regist img {
  position: relative;
  height: 100%;
  z-index: 1;
}

.nav_product {
  height: 50px;
  margin: 1% 0 0;
  display: flex;
  text-decoration: none;
  color: #333;
  text-align: center;
  list-style-type: none;
  padding: 0;

}


.naw_other {
  text-decoration: none;
  font-family: Roboto, serif;
  font-size: 33px;
  color: #184355;
}

.nav_category {
  text-decoration: none;
  font-family: Roboto, serif;
  font-size: 25px;
  color: #08303D;
}

main {
  width: 100%;
}

.main {
  background: rgba(157, 208, 211, 0.61);
  filter: blur(10px);
  z-index: 70;
  height: 100%;

}

.Baner {
  position: relative;
  margin-left: 7%;
  width: 94%;
  margin-top: -3%;
  margin-bottom: 0px;
}

.container {
  padding-top: 2%;
  text-align: center;
  z-index: 90;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1140px;
  display: flow-root;
}

.container_nav {
  padding-top: 0;
  max-width: 1140px;
  z-index: 98;
}


.article {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*.article img {*/
/*  border-radius: 50%;*/
/*}*/

.circle {
  position: relative;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: #C1CBEE;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-inline-start: 0px;
  list-style-type: none;
  margin-bottom: 6%;
}

.triangle_top {
  width: 0;
  height: 0;
  border-left: 35px solid #c3e2e4;
  border-right: 40px solid #c3e2e4;
  border-bottom: 43px solid #bfbfbf;
  margin-left: 27%;
  border-top-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.triangle_bottom {
  width: 0;
  height: 0;
  border-left: 35px solid #c3e2e4;
  border-right: 40px solid #c3e2e4;
  border-top: 43px solid #bfbfbf;
  margin-left: 27%;
  border-bottom-width: 0px;
  padding-right: 0px;
  padding-left: 0px;

}

.carousel,
.row_new {
  width: 1140px;
  height: 360px;
  display: flex;
  box-sizing: inherit;
}

.row_nav {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.section_footer,
.section {
  position: relative;
}

.section_nav {
  height: 80px;;
  position: relative;
}

.nav {
  z-index: 90;
  height: 100%;
  width: 100%;
}

.nav_product_name {
  display: flex;
  margin-left: auto;
  margin-right: 24px;
}

.main_border,
.container_clamped {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1140px;
  display: flex;
  z-index: 90;
}

.row_banner {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  box-sizing: inherit;
}

.container_banner_Img {
  background-size: cover;
  border: 1px solid #cecece;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}

.container_banner_Img img {
  height: 100%;
  width: auto;
  max-width: 100%;
}


.main_banners_link {
  display: block;
  width: 100%
}

.main_banners_wrapper {
  z-index: 90;

}

.container_circle {
  z-index: 90;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 10px;
  max-width: 1140px;
  display: flow-root;
}

.container_banner_small_left {
  margin-left: 2%;
  z-index: 90;

}

.card_row_test {
  display: flex;
  position: relative;
  z-index: 100;
  flex-wrap: nowrap;
}

.card_row,
.main_container_banner,
.row_carousel {
  display: inline-flex;
  position: relative;
  z-index: 90;
  flex-wrap: nowrap;
}

.main_container_banner img {
  border-radius: 50px;
}

.product_container,
.main_container {
  z-index: 90;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1140px;
  display: flow-root;
}

.product {
  height: 182px;
  margin-top: 1%;
  width: 174px;
  margin-left: 17px;
}

.row_product {
  margin-top: 1%;
}

.text {
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto Condensed, serif;
  font-style: normal;
  font-weight: normal;
  color: rgba(28, 74, 84, 0.95);
  font-size: 40px;
  text-align: center;
  position: relative;
}

.carousel_article_left,
.article_child_left {
  width: 0;
  height: 0;
  border-top: 35px solid #c3e2e4;;
  border-right: 40px solid #bfbfbf;
  border-bottom: 43px solid #c3e2e4;;
  margin-top: 8%;
  padding: 0px;
  border-left-width: 0px;
}

.carousel_article_right,
.article_child_right {
  width: 0;
  height: 0;
  border-top: 35px solid #c3e2e4;;
  border-left: 40px solid #bfbfbf;
  border-bottom: 43px solid #c3e2e4;;
  margin-top: 8%;
  padding: 0px;
  border-right-width: 0px;
}

.footer {
  background: linear-gradient(180deg, #53E88E 0%, rgba(141, 228, 176, 0) 100%), #23C1C1;
  opacity: 0.7;
  box-shadow: inset 0px 4px 120px rgba(147, 234, 223, 0.49);
  filter: blur(20px);
  z-index: 70;
  height: 100%;
}

.head_body {
  height: 76%;
  width: 100%;
}

.row_logo {
  margin-left: 1%;
  width: 30%;
  height: 190px;
}

.section_footer_size {
  height: 100%;
  width: 100%;
}

.footer_size {
  height: 200px;
}

.row_product_child_bottom {
  margin-bottom: 10%;
}

.basket {
  display: flex;
}

.login_picture {
  padding-left: 23%;
}

.logo_pictures {
  width: 100%;
}

.article_pictures {
  width: 75%;
  height: 90%;
}

.gallery {
  height: 530px;
  overflow: hidden;
}

.gallery ul {
  heighte: 9999px;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
}

.pictures_banner_red {
  height: 462px;
  width: 307px;
}

.banner_small_top {
  height: 260px;
  width: 100%;
}

.nav_list {
  margin-left: 6px;
  margin-right: 0;
  margin-bottom: auto;
  transition: 1s;
}

.nav_list:hover {
  transform: rotate(180deg);
}

.nav_list_circle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.buttom {
  border-top: 20px solid #34D3DD;
  margin-top: 17%;
}

.top {
  border-bottom: 20px solid #34D3DD;
}

.main_color {
  background: rgba(120, 208, 236, 0.5);
  opacity: 1.5;
  filter: blur(20px);
  z-index: 70;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.main_filters {
  border-radius: 3px;
  margin-top: 29px;
  min-width: 292px;
  min-height: 535px;
  position: relative;
  height: 100%;
  width: 100%;
}

.section_main {
  width: 100%;
  height: 100%;
}

.main_border_row {
  position: relative;
  flex-wrap: nowrap;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.main_filter {
  display: flex;
  text-align: center;
  padding: 20px 20px;
}

.text_color {
  font-family: Alef, serif;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  font-size: 30px;
  z-index: 90;
}

.main_filter_collection {
  position: relative;
  padding: 0px 20px 16px 40px;
  display: flex;
}

.main_category_list {
  margin: 0;
  padding: 0;
  outline: none;
  overflow: auto;
}

.category_list_item {
  margin: 0;
  list-style: none;
}

.category_list_link {
  display: flex;
  text-align: center;
  padding-right: 10px;
  cursor: pointer;
}

.list_them {
  margin-left: 30px;
}

.pictures_sale {
  width: 56px;
  height: 94px;
  float: left;
  margin-top: 9%;
  margin-left: -21%;
}

.list_them_lvl {
  margin-left: 60px;
}

.main_goods {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 90;
}

.main_goods_img {
  margin-top: 29px;
  height: 252px;
  width: 251px;
  border-radius: 50px;
  z-index: 3;
}

.main_goods_container {
  /*padding-right: 15px;*/
  /*padding-left: 15px;*/
  margin-top: 29px;
  position: relative;
  display: block;
  width: 580px;
  height: 286px;

}

.main_goods_back {
  background: rgba(120, 208, 236, 0.5);
  opacity: 1.5;
  filter: blur(5px);
  z-index: 90;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
}

.main_goods_text {
  font-family: Roboto, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 38px;
  text-align: center;
  z-index: 90;
  height: 127px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  padding-right: 15px;
  padding-left: 15px;

}

.main_goods_section {
  margin-top: 29px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  z-index: 90;
}

.main_back {
  z-index: 70;
}

.pictures_catalog_message {
  width: 70px;
  height: 90px;
}

.pictures_catalog_basked {
  width: 80px;
  height: 80px;
}

.pictures_catalog {
  float: right;
  padding-top: 2%;
  padding-right: 5%;
}

.main_goods_text_pay {
  float: left;
  padding-top: 4%;
  color: rgba(77, 63, 91, 0.78);
  font-family: Alef, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  text-align: left;
}

.CatalogItemProduct__btn {
  float: right;
  width: 80px;
  height: 80px;

}

.main_good {
  position: relative;
  display: inline-flex;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 100;
}

.main_section {
  display: block;
  width: 100%;
}

.card_right,
.card_left,
.text_catalog {
  display: block;
  width: 48%;
}

.main_goods_text_pay_small {
  color: red;
}

.filter-range {
  width: 89%;
  margin: 50px 0;
  text-transform: uppercase;
  z-index: 100;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  font-family: Alef, serif;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #2377A7;
  border-radius: 2px;
  z-index: 90;
  display: flex;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 37px;
  background: #2377A7;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 129px;
  padding-left: 28px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
  z-index: 100;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.text_prise {
  z-index: 100;
  position: relative;
}

.main_good_end {
  padding-bottom: 12%;
}

.main_container_product {
  display: block;
  text-align: center;
  margin-left: 22%;
}

.main_container_also {
  margin-top: 4%;
  display: block;
}

.photo_good {
  height: 510px;
  width: 392px;
  margin-top: 15px;
}

.photo {
  margin-top: 30px;
  margin-left: 30px;
}

.card_info {
  margin-top: 50px;
  margin-left: 30px;

}

.card_text {
  font-family: Roboto, serif;
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  line-height: 54px;
}

.text_cart_title,
.product-description_title,
.text_title {
  font-family: Atomic Age, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 80px;
}

.carousel_good {
  width: 180px;
  height: 180px;
  margin-left: 20px;
  margin-right: 20px;
}

.container_text_carousel {
  display: inline-flex;
  text-align: center;
}

.text_carousel {
  font-family: Roboto, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 27px;
  line-height: 40px;
  margin-left: 49px;
}

.carousel_article {
  margin-right: 5px;
}

.carousel_good_new {
  margin-right: 0px;
}

.carousel_container {
  margin-top: 30px;
  display: block;
}

.text_title_new {
  font-family: Atomic Age, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 80px;
  color: #184355;
}

.product-description_paragraph {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 40px;
}

.product-description_title_new {
  margin-left: 60px;
  margin-top: 30px;
}

.cart-btn-wrap {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 12px 40px;
  margin: 10px 20px;
  border-radius: 30px;
  background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
  transition: .5s;
}

.cart-btn-wrap:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}

.cart-btn {
  text-align: center;
  margin-top: 20px;
  outline: none;
}

.text_cart_title_new {
  text-align: center;
  margin-top: 40px;
}

.score {
  margin: 50px 10px;
  height: 0;
  width: 0;
  position: relative;
  border-right: 50px solid transparent;
  border-bottom: 35px solid #D6DA0F;
  border-left: 50px solid transparent;
  transform: rotate(35deg);
}

.score:before,
.score:after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
}

.score:before {
  top: -26px;
  left: -32px;
  border-bottom: 40px solid #D6DA0F;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  transform: rotate(-35deg);
}

.score:after {
  top: 2px;
  left: -53px;
  border-right: 50px solid transparent;
  border-bottom: 35px solid #D6DA0F;
  border-left: 50px solid transparent;
  transform: rotate(-70deg);
}

.cart_score {
  display: flex;
  margin-left: 55px;
}

.score_col {
  border-bottom: 35px solid #C4C4C4;
}

.score_col:before {
  border-bottom: 40px solid #C4C4C4;
}

.score_col:after {
  border-bottom: 35px solid #C4C4C4;
}

.favorite_category_product {

}

.row_product_child ul {
  width: 200px;
  padding: 0;
  display: flex;
  overflow: hidden;
  margin: 0 10px 0 10px;
}

.row_product_child {
  /*margin-bottom: 5%;*/
  /*width: 100%;*/
  width: 660px;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.row_news {
  flex-wrap: nowrap;
  display: flex;
  flex: 1 1 auto;
  margin-right: -12px;
  margin-left: -12px;
  height: 100%;
}

.unit_product {
  width: 197px;
}

.container_main {
  margin-top: 5%;
}

.btn {
  padding: 8px 16px;
  background: #26ae68;
  color: #ffffff;
  border: 0;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.basket_product_count {
  position: relative;
  left: calc(100% - 15px);
  top: calc(100% - 71px);
  border-radius: 100%;
  background-color: rgb(236, 138, 67);
  height: 38%;
  width: 19px;
  text-align: center;
  z-index: 99;
}

.banener_small_bottom {
  height: 100%;
  width: 100%;
}

.row_custom {
  display: flex;
  margin-right: -15px;
}

.collections_carousel {
  padding-left: 0;
}

.carousel-product-name {
  font-family: Roboto, serif;
  font-style: unset;
  font-weight: normal;
  font-size: 18px;
  height: 86px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.carousel-product-title {
  display: grid;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
  font-weight: 700;
  color: rgba(77, 63, 91, 0.78);
}

.product-price-num {
  font-family: Alef, serif;
  font-style: normal;
  font-size: 18px;
  margin: 0;
}

.product-price-currents {
  font-size: 80%;
}


.search_pop_up {
  position: absolute;
  top: 181px;
  /*visibility: collapse;*/
  min-height: 70px;
  width: 426px;
}

.visible {
  visibility: inherit;
}

.search_pop_up__blur {
  position: absolute;
  z-index: 2;
  filter: blur(2px);
  box-shadow: inset 0px 4px 120px rgba(147, 234, 223, 0.49);
  background: linear-gradient(180deg, #53E88E 0%, rgba(141, 228, 176, 0) 100%), #23C1C1;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
}

.search_result_product {
  border-radius: 19px;
  height: 75px;
  width: 404px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  z-index: 99;
  display: flex;
}

.search_pop_up__result {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 99;
}

.search_error_and_vait {
  display: flex;
  height: 42px;
  background: aquamarine;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  z-index: 99;
  border-radius: 7px;
  text-align: center;
}

.show_more {
  height: 43px;
  background: aquamarine;
  width: 210px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  z-index: 99;
  border-radius: 78px;
  opacity: 0.84;
}

.category_pop_up {
  position: absolute;
  top: 60px;
  border-radius: 19px;
  min-height: 70px;
  width: 286px;
  left: 26px;
}

.category_pop_up__blur {
  position: absolute;
  z-index: 2;
  filter: blur(2px);
  box-shadow: inset 0px 4px 120px rgba(147, 234, 223, 0.49);
  background: linear-gradient(180deg, #53E88E 0%, rgba(141, 228, 176, 0) 100%), #23C1C1;
  opacity: 0.9;
  height: 100%;
  width: 100%;
}

.category_pop_up__result {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 99;
}

.search_error_and_vait__message {
  margin: 0 auto;
}

.search_result_product__img {
  width: 19%;
}

.search_result_product__img img {
  width: 100%;
  height: 100%;
  border-radius: 19px;
}

.search_result_product__name {
  height: 30px;
  position: relative;
  text-align: start;
  left: 15px;
  width: 212px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search_result_product__name span {
  font-family: Roboto, serif;
  font-style: unset;
  font-weight: normal;
  font-size: 15px;
  height: 100%;
  width: 100%;
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  /*padding-right: 5px;*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  /*display: -webkit-box;*/
  /*-webkit-line-clamp: 1;*/
  /*-webkit-box-orient: vertical;*/
}

/*.search_result_product__name span :hover {*/
/*  background: #f0f0f0; !* Цвет фона *!*/
/*  white-space: normal; !* Обычный перенос текста *!*/
/*}*/

.search_result_product__name__container {
  display: block;
  height: 100%;
  width: 83%;
}

.search_result_product__price {
  font-family: Alef, serif;
  font-style: normal;
  font-size: 18px;
  margin: 0;
  position: relative;
  right: 2%;
}

.search_product_cart_interactions {
  float: right;
}

.search_product_cart_img {
  float: right;
  padding-top: 2%;
  padding-right: 5%;
}

.search_product_cart_img_message {
  width: 40px;
  height: 49px;
}

.search_product_cart_img_basked {
  width: 40px;
  height: 43px;
}

.search_product_cart_interactions__container {
  position: relative;
  right: 26px;
}

.main_filter_container {
  height: 100%;
  width: 100%;
  z-index: 99;
}
